<div class="form-group">
  <div class="form-group">
    <label>テーブルの選択</label>
    <select v-model="tableField" class="form-control w400" options="tableFieldOptions"></select>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label>帳票候補</label>
      <div v-repeat="subSheets">
        <div v-component="sub-sheet"></div>
      </div>
    </div>
    <button type="button" class="btn btn-default" v-on="click : remove">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
