<div class="print-creator-plugin-config">
  <h4>基本設定</h4>
  <div class="app-code form-group">
    <label for="appCode">アプリコード</label>
    <div class="description">プリントクリエイターで取得したアプリコードを入力してください</div>
    <input type="text" id="appCode" class="form-control w400"
           v-model="appCode" v-on="change: changeAppCode"/>
  </div>

  <h4>表示する帳票の設定</h4>
  <div class="show-sheets form-group">
    <div class="form-inline">
      <select class="w400 h100" v-model="showSheets" options="sheetOptions" multiple></select>
    </div>
  </div>

  <h4>自動改ページの設定</h4>
  <div class="form-group">
    <div v-repeat="autoSheets">
      <div v-component="auto-sheet"></div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" v-on="click : addAutoSheet">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-primary" v-on="click: submit">保存</button>
</div>
