{
  "manifest_version": 1,
  "version": 1,
  "type": "APP",
  "name": {
    "ja": "プリントクリエイター自動改ページプラグイン",
    "en": "print-creator auto-page plug-in",
    "zh": "print-creator auto-page plug-in"
  },
  "description": {
    "ja": "プリントクリエイターで自動改ページを行うためのプラグイン",
    "en": "print-creator auto-page plug-in",
    "zh": "print-creator auto-page plug-in"
  },
  "icon": "images/icon.png",
  "homepage_url": {
    "ja": "https://pc.kintoneapp.com/",
    "en": "https://pc.kintoneapp.com/",
    "zh": "https://pc.kintoneapp.com/"
  },
  "desktop": {
    "js": [
      "https://localhost:8000/desktop.js"
    ],
    "css": [
      "https://localhost:8000/desktop.css"
    ]
  },
  "config": {
    "html": "html/config.html",
    "js": [
      "https://localhost:8000/config.js"
    ],
    "css": [
      "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",
      "https://localhost:8000/config.css"
    ],
    "required_params": ["appCode"]
  }
}
