@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "base";

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.print-creator-plugin-config {
  .form-control {
    padding: 2px 16px;
  }
  .form-group {
    margin-left: 15px;
  }
}

.show-sheets {
  .form-group {
    min-width: 150px;
  }
}