@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "base";

body, div, p, h1, h2, h3, h4, h5, ol, ul, li, pre, blockquote, form, fieldset, input, textarea, select, option, table, tr, th, td, dl, dt, dd {
  margin: 0;
  padding: 0;
  outline: 0;
}

body, .pager-gaia a, .category-right-gaia, .contents-actionmenu-edit-gaia, .box-gaia .box-inner-gaia {
  background-color: #fff;
}

body {
  font: 13px/1.231 "メイリオ",Meiryo,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}
body {
  width: 100%;
  height: 100%;
  color: #333;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.pcreator-container {
  form {
    display: inline;
  }
  input[type="submit"]{
    margin-left: 3px;
    border: none;
    background: #ff5c00;
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  input[type="submit"]:hover{
    background: #d45500;
    color: #fff;
  }
  input[type="submit"]:active{
    top: 1px;
  }
}


.print-creator-multi {
  margin: 20px;
}